/*Universal styles*/
html {
    font-size: 22px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
    color: rgb(43, 39, 39)
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Mate SC', serif;
}

main {
    padding: 0 15px;
    margin: 0 auto;
    font-size: 20px;
    max-width: 1200px;
}
section {
    margin: 20px 0;
}
p {
    margin: 10px 0;
}

/*Header*/

header {
    background-color: #02023d;
    color: seashell;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 1.4rem;
    margin-right: 10px;
}
.toggler img {
    width: 50px;
    cursor: pointer;
}
.toggler .open {
    display: block;
}
.toggler .close {
    display: none;
}
.toggler.opened .open {
    display: none;
}
.toggler.opened .close {
    display: block;
}
.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav.header-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}
nav.header-menu.opened {
    display: flex;
    margin-top: 10px;
}
nav.header-menu a {
    color: seashell;
    text-decoration: none;
    font-family: 'Mate SC', serif;
}
nav.header-menu a:hover {
    color: #d4d413;
}

@media only screen and (min-width: 576px) {
    .toggler {
        display: none;
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav.header-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 10px;
    }
    h1 {
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 10px;
        position: fixed;
        top: 0;
        height: 68px;
    }
    nav.header-menu {
        width: auto;
        margin-top: 0;
    }
    nav.header-menu a {
        margin: 0 20px;
    }
    main {
        margin-top: 68px;
    }
}

/*About-me section*/

h2 {
    font-size: 1.3rem;
    color: #181841;
    margin-bottom: 10px;
}
#about img {
    width: 90%;
}
#about .photo {
    text-align: center;
}
a:hover {
    text-decoration: none;
}

@media only screen and (min-width: 576px) {
    #about .about-container {
        display: flex;
        align-items: center;
    }
    #about img {
        width: 100%;
        padding-top: 20px;
    }
    #about .photo {
        margin-left: 10px;
    }
}

/*Projects section*/

#projects h3 {
    display: inline-block;
}
h3 {
    font-size: 1rem;
    margin: 10px 0 15px;
}
#projects summary {
    cursor: pointer;
}
#projects summary:hover {
    color: #454597;
}
.project-presentation {
    display: flex;
    flex-direction: column;
}
.project-presentation .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.js-project .button-container {
    display: flex;
    justify-content: center;
}
.button {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: seashell;
    border: 1.3px solid rgb(43, 39, 39);
    text-decoration: none;
    font-size: 24px;
    color: rgb(43, 39, 39);
    cursor: pointer;
    font-family: 'Mate SC', serif;
    box-shadow: -5px 4px 5px rgb(43, 39, 39);
    transition: all 500ms;
}
.button:hover {
    background-color: #454597;
    border-color: #454597;
    color: seashell;
    box-shadow: -5px 4px 5px #454597;
}

@media only screen and (min-width: 768px) {
    .project-presentation {
        flex-direction: row;
        margin-bottom: 25px;
    }
    .project-presentation img {
        width: 60%;
    }
    .project-presentation .project-info {
        width: 40%;
        padding-left: 10px;
    }
    .js-project .button-container {
        justify-content: flex-start;
    }
}
.js-project {
    margin-bottom: 10px;
}
.js-project .read-more {
    border: 2px solid #454597;
    padding: 0 5px;
    margin-top: 20px;
    display: none;
}
.read-more-button.opened {
    background-color: #454597;
    border-color: #454597;
    color: seashell;
    box-shadow: -5px 4px 5px #454597;
}
.js-project .read-more.opened {
    display: block;
}

/*Skills section*/

#skills span {
    margin: 0 20px 10px 0;
    padding: 5px 10px;
    background-color: seashell;
    border: 1.3px solid rgb(43, 39, 39);
    font-size: 22px;
    font-family: 'Mate SC', serif;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media only screen and (min-width: 576px) {
    .skills-container {
        justify-content: flex-start;
    }
}

/*Footer-section*/
footer {
    background-color: #02023d;
    color: seashell;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding: 10px 0 5px;
}
.contact-icon {
    height: 32px;
    margin-right: 5px;
}
footer .contact-link {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
footer .contact-link a {
    color: seashell;
    text-decoration: none;
}

/*Contact page*/

.contact-h2 {
    margin-top: 20px;
}
.contact-page-icon {
    height: 32px;
    margin-right: 10px;
}
.contact-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .contact-main {
        margin-top: 88px;
    }
}